html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2b2b2b;
    color: #f0f0f0;
    background-image: url('Grid.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#network-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    transform: translate(-50%, -50%) scale(0.8);
    background-image: url('Network.png');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
}

#blob1, #blob2 {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
    opacity: 0.7;
    filter: blur(100px);
}

#blob1 {
    width: 500px;
    height: 500px;
    top: 5%;
    left: 4%;
    background: radial-gradient(circle at 30% 30%, rgba(237, 71, 35, 0.8), rgba(237, 71, 35, 0.1));
}

#blob2 {
    width: 400px;
    height: 400px;
    bottom: 10%;
    right: 10%;
    background: radial-gradient(circle at 70% 70%, rgba(237, 71, 35, 0.8), rgba(237, 71, 35, 0.1));
}

#background-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 200px;
    background-image: url('logo_full.svg');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 2;
}

.controls {
    margin-bottom: 20px;
    margin-top: 100px;
    position: relative;
    z-index: 3;
}

#flower-container {
    position: fixed; /* Ensure it stays fixed and full-screen */
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: min(874px, 80vw);
    height: min(874px, 80vh);
    background-color: transparent;
    border: 5px solid rgb(237, 71, 35);
    border-radius: 10px;
    opacity: 1;
    transition: opacity 1.2s cubic-bezier(0.42, 0, 0.58, 1), transform 1.2s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 3;
}

#flower-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.42, 0, 0.58, 1), transform 1.2s cubic-bezier(0.42, 0, 0.58, 1);
}

#flower-image.fade-out,
#flower-container.fade-out,
#number-overlay.fade-out,
#logo-overlay.fade-out {
    animation: fade-out 1.2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

#flower-image.shuffle-and-fade-in,
#flower-container.shuffle-and-fade-in,
#number-overlay.shuffle-and-fade-in,
#logo-overlay.shuffle-and-fade-in {
    animation: shuffle-and-fade-in 1.2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

#number-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(237, 71, 35);
    background-color: #000;
    border: 2px solid rgb(237, 71, 35);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.2s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 4;
}

#logo-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    transition: opacity 1.2s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 4;
}

/* Keyframe animation for smooth fading and scaling */
@keyframes shuffle-and-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.99); /* Start smaller */
    }
    30% {
        opacity: 0.5;
        transform: scale(1.01); /* Slight overshoot */
    }
    60% {
        opacity: 0.75;
        transform: scale(0.99); /* Slight fallback */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Final state */
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1); /* Initial size */
    }
    30% {
        opacity: 0.75;
        transform: scale(1.01); /* Slight overshoot */
    }
    60% {
        opacity: 0.5;
        transform: scale(0.99); /* Shrink */
    }
    100% {
        opacity: 0;
        transform: scale(1); /* Final shrink */
    }
}

#controls-wrapper {
    text-align: center;
    margin-top: 30vh; /* Approximately 50% margin from the top */
    transform: translateY(-50%); /* Center the controls-wrapper vertically */
}

button#generate-button {
    background-color: rgb(237, 71, 35);
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 100;
    opacity: 1; /* Remove transparency */
}

button#generate-button:hover {
    background-color: #e63f21;
}


/* Hamburger menu icon */
.menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    z-index: 5;
    color: #fff;
}

/* Hamburger menu */
.menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 7px;
    background-color: #2b2b2b;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    z-index: 5;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    background-color: #2b2b2b;
}

.menu ul li:hover {
    background-color: #444;
}

.slidecontainer {
    width: 95%;
    margin: 20px auto;
    margin-top: 70px;
}

.justslidecontainer {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;
    width: 95%;
    margin: auto;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 75%;
    max-width: 500px;
    min-width: 500px;
    height: 25px; /* Make the slider bigger */
    background: rgb(237, 71, 35); /* Orange color */
    border: 1px solid black; /* 1px black border */
    outline: none;
    transition: opacity 0.2s;
    border-radius: 10px;
    opacity: 0.8;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 35px; /* Thumb width */
    height: 35px; /* Thumb height */
    background: #fff; /* White color for the thumb */
    border-radius: 50%; /* Make the thumb round */
    border: 1px solid black; /* 1px black border */
    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.2s;
    opacity: 1;
}


.slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 10px rgba(237, 71, 35, 0.8); /* Orange glow when dragged */
    background-color: rgba(237, 71, 35, 0.8); /* Slight orange tint when dragged */
}


.label-left, .label-right {
    width: 85px; /* Set a maximum width for the labels */
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* Make the caption bigger */
    color: #ffffff; /* White color */
}

.page-title{
    margin-top: 12%;
}

.slider-wrapper{
    margin-top: 45vh;
    margin-bottom: 10vh;
}
.span {
    max-width: 60px;
}